#map {
    width: 100%;
    height: 90vh; /* Ocupa toda a altura da janela */
  }
  
.slider-container {
  padding: 10px;
  background: white;
  z-index: 1000;
  position: relative;
}

#legend-container {
    position: absolute;
    left: 20px;
    top: 180px;
    z-index: 1000;
    background: white;
    padding: 4px;
    border-radius: 4px;
  }

#legend-container img {
    height: 200px;
  }

#compass {
    position: absolute;
    left: 10px;
    bottom: 30px;
    z-index: 1000;
  }

#compass img {
    height: 100px;
  }

  /* controle dos mapas */
  #controls {
    margin-bottom: 20px;
  }
  
  #controls label {
    margin-right: 10px;
  }
  
  #controls select, #controls button {
    margin-right: 15px;
  }
  