#map {
  height: 80vh; /* 500px for fix height or 80vh for relativ heigh*/
  width: 100%;   /* Largura total */
  margin: 0 auto; /* Centralizar */
  position: relative; /* Garante que o mapa não seja sobreposto */
  overflow: hidden; /* Evita problemas de renderização */
}

#map {
  z-index: 0;
}
.leaflet-tile-pane, .leaflet-overlay-pane {
  z-index: 100;
}

  
.slider-container {
  padding: 10px;
  background: white;
  z-index: 1000;
  position: relative;
}

#legend-container {
    position: absolute;
    left: 20px;
    top: 180px;
    z-index: 1000;
    background: white;
    padding: 4px;
    border-radius: 4px;
  }

#legend-container img {
    height: 200px;
  }

#compass {
    position: absolute;
    left: 10px;
    bottom: 30px;
    z-index: 1000;
  }

#compass img {
    height: 100px;
  }

  /* controle dos mapas */
  #controls {
    margin-bottom: 20px;
  }
  
  #controls label {
    margin-right: 10px;
  }
  
  #controls select, #controls button {
    margin-right: 15px;
  }
  