/* Estilo geral */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho */
header {
  background: #0078d7;
  color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container principal */
.container {
  display: flex;
  flex: 1;
  height: 100%;
}

/* Barra lateral */
.sidebar {
  flex: 0 0 250px; /* Largura fixa */
  background: #f4f4f4;
  padding: 20px;
  overflow-y: auto; /* Permite scroll na barra lateral */
  border-right: 1px solid #ccc;
}

/* Conteúdo principal */
.content {
  flex: 1; /* Ocupa o restante do espaço */
  position: relative;
  overflow: hidden;
}

/* Mapa */
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: transparent;
}

/* Legenda */
#legend {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: transparent; /* rgba(255, 255, 255, 0.8);*/
  padding: 5px;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
  z-index: 1000;
}

#legend img {
  max-width: 200px;
  height: auto;
}

/* Compass */
#compass {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: transparent;/* rgba(255, 255, 255, 0.8);*/
  padding: 5px;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
  z-index: 1000;
}

#compass img {
  max-width: 90px;
  height: auto;
}

/* Sliders */
.slider-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.slider-container label {
  margin-bottom: 5px;
}

.slider-container input[type="range"] {
  width: 100%;
}

.slider-container span {
  text-align: right;
  margin-top: 5px;
}